.Users {
  width: 95%;
  position: absolute;
  top: 95%;
  left: 2.5%;
  margin-top: 2px;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  outline: none;
  box-shadow: -1px 10px 10px var(--dark-color);
  background-color: var(--dark-color);
  display: none;
}

.Typeahead:focus-within > .Users {
  display: block;
}

.User {
  position: relative;
  padding: 8px;
  cursor: pointer;
  transition: 0.1s ease-out;
}

.User a {
  color: var(--light-color);
}

.User:hover {
  background-color: var(--secondary-color);
}

.User img {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 52px;
  height: 52px;
  border-radius: 5px;
}

.User .Username {
  min-height: 60px;
  padding-left: 60px;
}
