/* .Users selector unites every user selection */
.Users {
  width: 95%;
  position: absolute;
  top: 95%;
  left: 2.5%;
  margin-top: 3px;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  outline: none;
  -webkit-box-shadow: -1px 10px 10px var(--dark-color);
  box-shadow: -1px 10px 10px var(--dark-color);
  background-color: var(--dark-color);
  display: none;
}

/* this is where showing users is handled */
.Typeahead:focus-within > .Users {
  display: block;
}

.Users a {
  color: var(--light-color);
}

.User {
  position: relative;
  padding: 8px;
  cursor: pointer;
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.User:hover {
  background-color: var(--secondary-color);
}

.User img {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 75px;
  height: 75px;
  border-radius: 5px;
}

.User .Username {
  min-height: 80px;
  padding-left: 80px;
}
