/* GLOBALS  */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.25px;
}

:root {
  --main-bg-color: #1b1d1f;
  --dark-color: #2f363d;
  --light-color: #ffffff;
  --secondary-color: #0d74e7;
}

body {
  background-color: var(--main-bg-color);
  color: var(--light-color);
}

/* Making font size bigger for wider screens */
@media only screen and (min-width: 1900px) {
  body {
    font-size: 23px;
  }
}

@media only screen and (min-width: 2500px) {
  body {
    font-size: 26px;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.asperand {
  color: gray;
}

/* For error, loading or "not found" messages */
.Empty-message {
  position: relative;
  padding: 10px;
  font-size: 14px;
  line-height: 30px;
  margin-top: 5px;
  text-align: center;
  color: var(--light-color);
}

/* for wider screens */
@media only screen and (min-width: 1900px) {
  .Empty-message {
    font-size: 20px;
  }
}
